@font-face {
    font-family: 'Gallery Modern';
    src: url('GalleryModernRegular.woff2') format('woff2'),
        url('GalleryModernRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

